.error__link, .error__com, .error, .nav, .thumb__title, .tag__content, .logement-header, .host__name, .collapse__content, .collapse__header, .carroussel-number, .banner__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.error__link, .error__com, .error, .nav, .thumb__title, .tag__content, .logement-header, .host__name, .collapse__content, .collapse__header, .carroussel-number, .banner__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.banner {
  position: relative;
  border-radius: 25px;
  margin-bottom: 10px;
  left: 5%;
}
.banner__img {
  filter: brightness(70%);
  height: 196px;
  z-index: 0;
  border-radius: 25px;
}
@media screen and (max-width: 640px) {
  .banner__img {
    border-radius: 10px;
    height: 111px;
    width: 364px;
  }
}
@media screen and (max-width: 768px) {
  .banner__img {
    width: 675px;
    height: 141px;
  }
}
.banner__title {
  position: absolute;
  left: 25%;
  top: 22%;
  z-index: 2;
  font-size: 48px;
  color: white;
}
@media screen and (max-width: 640px) {
  .banner__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .banner__title {
    left: 19px;
    font-size: 32px;
  }
}

.error__link, .error__com, .error, .nav, .thumb__title, .tag__content, .logement-header, .host__name, .collapse__content, .collapse__header, .carroussel-number, .banner__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.carroussel {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1240px;
  height: 415px;
}
@media screen and (max-width: 640px) {
  .carroussel {
    width: auto;
  }
}

.carroussel-img {
  display: flex;
  margin-left: 3%;
  min-width: 1340px;
  height: 380px;
  object-fit: cover;
  border-radius: 25px;
}
@media screen and (max-width: 640px) {
  .carroussel-img {
    border-radius: 10px;
  }
}

.carroussel-forward {
  position: absolute;
  right: -6%;
  margin-top: 11%;
  margin-right: 1%;
  cursor: pointer;
  user-select: none;
}
@media screen and (max-width: 640px) {
  .carroussel-forward {
    top: 32%;
    width: 6%;
  }
}

.carroussel-backward {
  position: absolute;
  left: 0%;
  margin-top: 11%;
  margin-left: 1%;
  cursor: pointer;
  user-select: none;
}
@media screen and (max-width: 640px) {
  .carroussel-backward {
    top: 32%;
    width: 6%;
  }
}

.carroussel-number {
  position: absolute;
  display: flex;
  bottom: 11%;
  z-index: 10;
  align-items: flex-end;
  color: #fff;
}

.caroussel.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.error__link, .error__com, .error, .nav, .thumb__title, .tag__content, .logement-header, .host__name, .collapse__content, .collapse__header, .banner__title, .carroussel-number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.collapse {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 5px;
  height: auto;
}
@media screen and (max-width: 640px) {
  .collapse {
    width: 98%;
  }
}
.collapse__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  color: #fff;
  background-color: #FF6060;
  z-index: 0;
}
.collapse__title {
  padding: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
}
.collapse__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  margin-top: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  list-style: none;
  color: #FF6060;
  background: #F6F6F6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 169.6%;
}
.collapse__arrow {
  padding-right: 2%;
  padding-top: 1%;
  text-align: right;
  z-index: 100;
  width: 14px;
  height: 23px;
}

.gallery {
  position: relative;
  display: flex;
  border-radius: 10px;
  background-color: #F6F6F6;
  margin: 6%;
  margin-top: 0%;
  padding: 20px;
}
@media screen and (max-width: 640px) {
  .gallery {
    padding: 6px;
  }
}
.gallery__thumbs {
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width: 640px) {
  .gallery__thumbs {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .gallery__thumbs {
    flex-flow: row wrap;
  }
}

.error__link, .error__com, .error, .nav, .thumb__title, .tag__content, .logement-header, .host__name, .banner__title, .carroussel-number, .collapse__header, .collapse__content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.host {
  display: flex;
  flex-direction: row-reverse;
  right: 0;
}
@media screen and (max-width: 640px) {
  .host {
    align-items: center;
  }
}
.host__name {
  flex-flow: column;
  color: #FF6060;
  white-space: normal;
  width: 93px;
  height: 52px;
}
.host__picture {
  right: 0;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background: #C4C4C4;
}

.error__link, .error__com, .error, .nav, .thumb__title, .tag__content, .logement-header, .banner__title, .carroussel-number, .collapse__header, .collapse__content, .host__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.logement-page {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.logement-collapse {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  margin-top: 1%;
  height: 249px;
}
@media screen and (max-width: 640px) {
  .logement-collapse {
    flex-direction: column;
  }
}

.error__link, .error__com, .error, .nav, .thumb__title, .tag__content, .logement-header, .banner__title, .carroussel-number, .collapse__header, .collapse__content, .host__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.logement-header {
  display: flex;
  position: inherit;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #FF6060;
}
@media screen and (max-width: 640px) {
  .logement-header {
    flex-direction: column;
  }
}
.logement-header__left {
  left: 0;
  padding-left: 2%;
  flex-direction: column;
}
.logement-header__right {
  display: flex;
  right: 0;
  padding-right: 2%;
  flex-direction: column;
}
@media screen and (max-width: 640px) {
  .logement-header__right {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-size: 36px;
  margin-bottom: 2%;
  margin-top: 4%;
}

.rate {
  position: absolute;
  width: 196px;
  height: 36px;
  left: 1144px;
  top: 652px;
}
.rate__star {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
}

.error__link, .error__com, .error, .nav, .thumb__title, .tag__content, .banner__title, .carroussel-number, .collapse__header, .collapse__content, .host__name, .logement-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.tag-container {
  display: flex;
  flex-direction: row;
  margin-left: -7px;
}

.tag {
  display: flex;
  width: max-content;
  margin: 5px;
  background-color: #FF6060;
  border-radius: 10px;
  padding-right: 25px;
  padding-left: 25px;
}
.tag__content {
  font-size: 14px;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #fff;
}

.thumb-card {
  width: 310px;
  height: 310px;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(180deg, #FF6060 40%, rgb(49, 48, 48) 200%);
  margin: 18px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .thumb-card {
    width: 284px;
    margin: 13px;
  }
}

.thumb {
  border-radius: 10px;
  height: 100%;
}
.thumb__title {
  width: 100%;
  padding: 4px;
  margin-left: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 640px) {
  .thumb__title {
    font-size: 19px;
  }
}
.thumb__img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  fill: #FF6060;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.error__link, .error__com, .error, .nav, .banner__title, .carroussel-number, .collapse__header, .collapse__content, .host__name, .logement-header, .tag__content, .thumb__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.header {
  position: relative;
  margin: 2%;
  width: 100%;
  height: 20%;
  left: 3%;
  top: 2%;
}
@media screen and (max-width: 640px) {
  .header__img {
    width: 40%;
  }
}

.error__link, .error__com, .error, .nav, .banner__title, .carroussel-number, .collapse__header, .collapse__content, .host__name, .logement-header, .tag__content, .thumb__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.nav {
  position: absolute;
  left: 70%;
  top: 25%;
  bottom: 25%;
  width: 309px;
  height: 34px;
}
@media screen and (max-width: 640px) {
  .nav {
    text-transform: uppercase;
    left: 46%;
  }
}
.nav__item {
  color: #FF6060;
  padding: 2%;
  margin-left: 15%;
  text-decoration: none;
}
.nav__item :hover {
  text-decoration: underline;
}
@media screen and (max-width: 640px) {
  .nav__item2 {
    margin-left: 2%;
  }
}

.active {
  text-decoration: underline;
  color: #FF6060;
  padding: 1%;
}

.footer {
  position: relative;
  display: flex;
  background-color: black;
  width: 100%;
  padding: 3%;
  height: 70px;
  flex-direction: column;
}
.footer__img {
  position: relative;
  align-self: center;
}
.footer__txt {
  position: relative;
  align-self: center;
  color: white;
}

html, body {
  overflow-x: hidden;
}

.home {
  display: flex;
  flex-direction: column;
}

.accueil {
  text-decoration: underline;
  color: #FF6060;
}

.error__link, .error__com, .error, .banner__title, .carroussel-number, .collapse__header, .collapse__content, .host__name, .logement-header, .tag__content, .thumb__title, .nav {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FF6060;
  margin: 2%;
  font-size: 288px;
}
@media screen and (max-width: 640px) {
  .error {
    font-size: 216px;
  }
}
.error__code {
  margin: 0;
  flex-direction: column;
  margin-bottom: 5%;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .error__code {
    font-size: 129px;
  }
}
.error__com {
  margin-bottom: 7%;
  color: #FF6060;
  font-size: 36px;
  align-self: center;
}
.error__link {
  color: #FF6060;
  font-size: 18px;
  align-self: center;
}
@media screen and (max-width: 640px) {
  .error__link {
    padding-top: 15%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__collapse {
  width: 73%;
  margin-left: 20%;
  padding-top: 0%;
  padding-bottom: 0%;
}
@media screen and (max-width: 640px) {
  .about__collapse {
    width: 94%;
    padding-left: 3%;
  }
}

@media screen and (max-width: 640px) {
  .about-picture {
    width: 381px;
    height: 245px;
  }
}

/*# sourceMappingURL=main.css.map */
