@import "../utils/variables";

.nav {
  position: absolute;
  left: 75.08%;
  right: 0%;
  top: 25%;
  bottom: 25%;
  
  width: 309px;
  height: 34px;
  &__item{
  color: $color-primary;
  padding: 2%;
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}
}
