@import "../utils/variables";
@import '../utils/extensions';
@import "../utils/mixins";
.nav {
  position: absolute;
  @extend %typo;
  left: 70%;
  top: 25%;
  bottom: 25%;
  width: 309px;
  height: 34px;
  @include mobile{
    text-transform : uppercase;
    left:46%
  }
  
  &__item{
  color: $color-primary;
  padding: 2%;
  margin-left: 15%;
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}
&__item2{
  @include mobile{
    margin-left: 2%;
  }
}
}

.active{
  text-decoration: underline;
  color: $color-primary;
  padding: 1%;
}
