@import "../utils/variables";
@import '../utils/extensions';

.nav {
  position: absolute;
  @extend %typo;
  left: 70%;
  top: 25%;
  bottom: 25%;
  width: 309px;
  height: 34px;
  &__item{
  color: $color-primary;
  padding: 2%;
  margin-left: 15%;
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}
}

.active{
  text-decoration: underline;
  color: $color-primary;
  padding: 1%;
}
