.about {
    display:flex;
    flex-direction: column;
    align-items: center;
    &__collapse{
        width: 70%;
        margin-left: 20%;
        padding-top: 0%;
        padding-bottom: 0%;
      }
}

.about-picture{
    width: 84%;
    padding: 2%;
    border-radius: 55px;
    left:2%;
}

