.error {
 display: block;
  
  color: $color-primary;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
&__code {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin: 150px;
}
&__com {
  margin-left: auto;
  margin-right: auto;
   display: flex;
  align-self: center;
  color: $color-primary;
  @extend %typo;
  font-size: 36px;
}

&__link {
  margin-left: auto;
  margin-right: auto;
    color: $color-primary;
  @extend %typo;
}
}