@import '../utils/variables';
@import '../utils/mixins';

html, body{
    overflow-x: hidden;
    margin-right: 30px;
    margin-left: 30px;
    @include x-large{
        margin-left: 6%;
        margin-right: 6%;
    }
    @include x-large{
        margin-left: 4%;
        margin-right: 4%;
    }
}
.home{
    display: flex;
    flex-direction: column;
}

.accueil{
    text-decoration: underline;
    color: $color-primary;
}