.title {
  position: absolute;
  width: 635px;
  height: 77px;
  left: 100px;
  top: 573px;
  &__name {
    left: 6.94%;
    right: 48.96%;
    top: 55.96%;
    bottom: 39.06%;
    @extend %typo;
    color: $color-primary;
  }
}
