@import '../utils/variables';
@import '../utils/extensions';

.error {
    color: $color-primary;
    &__code{
        width: 597px;
        height: 263px;
        
        font-weight: 700;
        size:  288px;
        line-height: 410px;
        text-align: center;
    }
    &__com {
        width: 872px;
        height: 51px;
        top: 606px;
        left:295px;
        @extend %typo;
    }
    &__link {
        @extend %typo;
        width: 284px;
        height: 26px;
        top: 839px;
        left: 578px;
        
        
    }
}