@import '../utils/variables';

.gallery {
   position: relative;
   display: flex;
   border-radius: 10px;
   background-color: $color-background-gallery;
   margin: 6%;
   margin-top: 0%;
   padding: 20px;

   &__thumbs {
      display: flex;
      flex-flow: row wrap;
      @include tablet{
         flex-direction: column;
      }
   }

}