
@import '../utils/variables';
@import '../utils/extensions';

.tag-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 0;
}

.tag {
  display: flex;
  width:max-content;
  
  margin: 5px;
  background-color: $color-primary;
  border-radius: 10px;
  padding-right: 25px;
  padding-left: 25px;
  &__content {
    @extend %typo;
    font-size: 10px;
    color: $color-secondary;
    
  }

}
