$color-primary: #FF6060;
$color-secondary: #fff;
$color-background: #E5E5E5;
$color-background-gallery: #F6F6F6;
$color-background-host: #C4C4C4;

$font-primary: "Monserrat";

$breakpoints: (
    "mobile" : 850px,
    "tablet": 1023px,
    
    "medium-screen": 1364px,
    "large": 1440px,
    "x-large":2200px
    );